{extends file="admin-layout.tpl"}
{default_translation_domain domain='diaporamas.bo.default'}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Diaporama'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}Diaporamas{/block}

{block name="main-content"}
    <div id="wrapper" class="container">

        {if $general_error}
            <div class="alert alert-danger">
                {$general_error}
            </div>
        {/if}

        <!-- Diaporama list -->
        <div class="general-block-decorator">
            <div class="table-responsive">
                <table class="table table-striped table-condensed" id="diaporama-table">
                    <caption class="clearfix">
                        {intl l="Diaporama"}

                        {loop name="auth-create" type="auth" role="ADMIN" resource="admin.module" access="CREATE" module="Diaporamas"}
                            <div class="pull-right">
                                <a class="btn btn-default btn-primary" title="{intl l='diaporama.create.dialog_title' d='diaporamas.bo.default'}" data-target="#diaporama-create" data-toggle="modal">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </div>
                        {/loop}
                    </caption>

                    <thead>
                    <tr>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='id'
                                reverse_order='id-reverse'
                                path={url path='/admin/module/Diaporamas/diaporama' target='diaporama-table'}
                                label="{intl l='diaporama.read.id' d='diaporamas.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='title'
                                reverse_order='title-reverse'
                                path={url path='/admin/module/Diaporamas/diaporama' target='diaporama-table'}
                                label="{intl l='diaporama.read.title' d='diaporamas.bo.default'}"
                            }
                        </th>
                        <th>
                            {admin_sortable_header
                                current_order=$order
                                order='shortcode'
                                reverse_order='shortcode-reverse'
                                path={url path='/admin/module/Diaporamas/diaporama' target='diaporama-table'}
                                label="{intl l='diaporama.read.shortcode' d='diaporamas.bo.default'}"
                            }
                        </th>
                        <th>
                            {intl l="Actions"}
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    {loop name="diaporama-list" type="diaporama" order=$order}
                        <tr>
                            <td>
                                <a href="{url path='/admin/module/Diaporamas/diaporama/edit' diaporama_id=$ID}">{$ID}</a>
                            </td>
                            <td>
                                <a href="{url path='/admin/module/Diaporamas/diaporama/edit' diaporama_id=$ID}">{$TITLE}</a>
                            </td>
                            <td>
                                <a class="diaporama-see">{$SHORTCODE}</a>
                            </td>
                            {* Actions *}
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default btn-xs diaporama-see" title="{intl l='diaporama.read.see' d='diaporamas.bo.default'}"><i class="glyphicon glyphicon-eye-open"></i></a>
                                    {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="UPDATE" module="Diaporamas"}
                                        <a class="btn btn-default btn-xs" title="{intl l='diaporama.read.edit' d='diaporamas.bo.default'}"  href="{url path='/admin/module/Diaporamas/diaporama/edit' diaporama_id=$ID}">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    {/loop}
                                    {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.module" access="DELETE" module="Diaporamas"}
                                        <a class="btn btn-default btn-xs diaporama-delete" title="{intl l='diaporama.read.delete' d='diaporamas.bo.default'}" data-target="#diaporama-delete" data-toggle="modal" data-id="{$ID}">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    {/loop}
                                </div>
                            </td>
                        </tr>
                    {/loop}
                    {elseloop rel="diaporama-list"}
                        <tr>
                            <td colspan="7">
                                <div class="alert alert-info">
                                    {intl l="diaporama.read.no_diaporama" d="diaporamas.bo.default"}
                                </div>
                            </td>
                        </tr>
                    {/elseloop}
                    </tbody>

                    {ifloop rel="diaporama-list"}
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                {include
                                file           = "includes/pagination.html"

                                loop_ref       = "diaporama-list"
                                max_page_count = 20
                                page_url       = "{url path="/admin/module/Diaporamas/diaporama" order=$order target='diaporama-table'}"
                                }
                            </td>
                        </tr>
                    </tfoot>
                    {/ifloop}

                </table>
            </div>
        </div>
    </div>


    {* CREATE Modal *}
    {include 'Form/create-diaporama-form.html'}

    {* DELETE modal *}
    {include 'Form/delete-diaporama-form.html'}
{/block}

{block name="javascript-initialization"}
    {* Display list JS *}
    {javascripts file='assets/js/diaporama-list.js' source='Diaporamas' template='default'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {* Delete diaporama JS *}
    {javascripts file='assets/js/delete-diaporama.js' source='Diaporamas' template='default'}
        <script src="{$asset_url}"></script>
    {/javascripts}
{/block}
