{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}
{/block}

{block name="page-title"}{intl l='Diaporama'}{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}update{/block}
{block name="check-module"}Diaporamas{/block}

{block name="main-content"}

    {form name="diaporama.update"}
        <div id="wrapper" class="container">

            {if $form_error}
                <div class="alert alert-danger">{$form_error_message}</div>
            {/if}

            <div class="general-block-decorator">
                <div class="title title-without-tabs">
                    {intl l='diaporama.update.title' d="diaporamas.bo.default"}
                </div>
                <div class="form-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#general" data-toggle="tab">{intl l='diaporama.update.general.title' d="diaporamas.bo.default"}</a></li>
                        <li><a href="#images" data-toggle="tab">{intl l='diaporama.update.images.title' d="diaporamas.bo.default"}</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="general">{include 'Form/edit-diaporama-form.html'}</div>
                        <div class="tab-pane" id="images">{include file='includes/diaporama-image-upload-form.html'}</div>
                    </div>
                </div>
            </div>
        </div>
    {/form}
{/block}

{block name="javascript-initialization"}
    {javascripts file='assets/js/dropzone.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/image-upload.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    {javascripts file='assets/js/jquery-ui-1.10.3.custom.min.js'}
        <script src="{$asset_url}"></script>
    {/javascripts}
    <script>{include 'assets/js/edit-diaporama-image.js'}</script>
{/block}

{block name="javascript-last-call"}
    {hook name="product.edit-js" location="product-edit-js" product_id={$product_id} }
    {hook name="wysiwyg.js" location="wysiwyg-product-edit-js" }
{/block}
