<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://thelia.net/schema/dic/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">
    <forms>
        <form name="diaporama.create" class="Diaporamas\Form\DiaporamaCreateForm"/>
        <form name="diaporama.delete" class="Diaporamas\Form\DiaporamaDeleteForm"/>
        <form name="diaporama.update" class="Diaporamas\Form\DiaporamaUpdateForm"/>
        <form name="diaporama_image.create" class="Diaporamas\Form\DiaporamaImageCreateForm"/>
        <form name="diaporama_image.update" class="Diaporamas\Form\DiaporamaImageUpdateForm"/>
    </forms>
    <loops>
        <loop name="diaporama" class="Diaporamas\Loop\Diaporama"/>
        <loop name="diaporama-image" class="Diaporamas\Loop\DiaporamaImage"/>
    </loops>
    <services>
        <service id="action.diaporamas.diaporama_table" class="Diaporamas\Action\DiaporamaAction">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="diaporamas.form.type.diaporama_id" class="Diaporamas\Form\Type\DiaporamaIdType">
            <argument id="thelia.translator" type="service"/>
            <tag name="thelia.form.type"/>
        </service>
        <service id="action.diaporamas.diaporama_image_table" class="Diaporamas\Action\DiaporamaImageAction">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="diaporamas.form.type.diaporama_image_id" class="Diaporamas\Form\Type\DiaporamaImageIdType">
            <argument id="thelia.translator" type="service"/>
            <tag name="thelia.form.type"/>
        </service>
    </services>
    <hooks>
        <hook id="diaporamas.diaporama.hook" class="Diaporamas\Hook\DiaporamasHook" scope="request">
            <tag name="hook.event_listener" event="main.top-menu-tools" type="back" method="onMainTopMenuTools"/>
        </hook>
    </hooks>
</config>
